@import url('../../../styles.pcss');

.passwd-edit {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 64px auto;

    &__back {
        display: flex;
        background-color: $color-white-primary;
    }

    &__back img {
        margin: auto;
    }

    &__back:hover {
        background-color: $color-grey-light;
        cursor: pointer;
    }

    &__content {
        display: flex;
        justify-content: center;
        padding: 60px;
    }
}
