.input {
    margin-bottom: 20px;

    &__label {
        font-size: 12px;
        color: #999;
    }

    &__value {
        width: 100%;
        border: none;
        border-bottom: 1px solid #3369f3;
        font-size: 14px;
    }

    &__error {
        font-size: 10px;
        color: #ff2f2f;
    }
}
