@import url('../../../../../styles.pcss');

.search {
    background-color: $color-white-dark;
    border: none;
    border-radius: 5px;
    flex-basis: 100%;
    font-size: 14px;
    padding: 10px;
}
