@import url('../../../../../../../styles.pcss');

.modal-form {
    &_title {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: $color-black-light;

    }
}

#upload-avatar {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
