@import url('../../../../../styles.pcss');

.sign-in-form {
    border-radius: 12px;
    min-width: 280px;
    padding: 30px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);

    &_title {
        margin-bottom: 40px;
        color: $color-black-light;
        line-height: 30px;
        font-size: 20px;
        text-align: center;
    }

    &_inputs {
        margin-bottom: 150px;
    }

    &_link {
        margin-top: 14px;
        text-align: center;
    }
}
