@import url('../../../../../../../styles.pcss');

.message-input {
    background-color: $color-white-dark;
    border: none;
    border-radius: 30px;
    flex-basis: 100%;
    font-size: 14px;
    padding: 10px 20px;
}

.message-input-error {
    border: 1px solid $color-red-primary;
}
