input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

$color-white: #fff;
$color-white-primary: #fbfbfb;
$color-white-dark: #efefef;
$color-blue-primary: #3369f3;
$color-blue-dark: #1646bf;
$color-blue-light: #e4edfd;
$color-black-light: #1e1e1e;
$color-grey-light: #eaeaea;
$color-grey-primary: #999;
$color-red-primary: #ff2f2f;
