.button {
    width: 100%;
    border-radius: 8px;
    border: none;

    background-color: #3369F3;

    line-height: 37px;
    color: #FFF;
    font-size: 13px;
}

.button:hover {
    background-color: #1646bf;
    cursor: pointer;
}

.button:active {
    transition: none;
    transform:scale(.96);
}
