.profile-edit-form {
    min-width: 510px;

    &_avatar {
        display: flex;
    }

    &_avatar img {
        max-height: 130px;
        max-width: 130px;
        margin: auto;
        border-radius: 75px;
    }

    &_data {
        margin: 90px 0 50px;
    }

    &_button {
        margin: 0 23%;
    }
}
