.menu {
    opacity: 0;
    visibility: hidden;
    border-radius: 12px;
    position: fixed;
    box-shadow: 0 0 6px rgba(0 0 0 / 14%);
    display: grid;
    z-index: 30;
    background-color: #fff;
    top: 65px;
    left: calc(100% - 236px);
    max-width: 226px;
}

.menu.active {
    opacity: 1;
    visibility: visible;
}
