@import url('../../../../../styles.pcss');

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid $color-grey-light;

    &__title, &__value {
        font-size: 15px;
        font-weight: 500;
    }

    &__title {
        color: $color-black-light;
    }

    &__value {
        text-align: end;
        color: $color-grey-primary;
    }
}

.row:last-child {
    border-bottom: none;
}
