.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;

    &__title, &__value {
        font-size: 15px;
        font-weight: 500;
    }

    &__title {
        color: #1e1e1e;
    }

    &__value {
        text-align: end;
        color: #999;
    }
}

.row:last-child {
    border-bottom: none;
}
