<div class="footer">
    <div class="footer_pin">
        <img src={{pin}} alt="pin" />
    </div>
    <input
        class="footer_message"
        type="text"
        name="message"
        placeholder="Сообщение"
        value={{message}}
    />
    <div class="footer_send">
        <img src={{send}} alt="send" />
    </div>
</div>
