<div class="footer_pin">
    <img src={{pin}} alt="pin" />
</div>
<input
        class="footer_message"
        type="text"
        name="message"
        placeholder="Сообщение"
        value={{message}}
>
<div class="footer_send">
    <button type="submit">
        <img src={{send}} alt="send" />
    </button>
</div>
