@import url('../../../../../styles.pcss');

.row-with-link {
    padding: 10px;
    border-bottom: 1px solid $color-grey-light;
}

.row-with-link:last-child {
    border: none;
}

.row-with-link:last-child a {
    color: #f00;
}
