@import url('../../../styles.pcss');

.file-input {
    text-align: center;

    &_label {
        font-size: 13px;
        color: $color-blue-primary;
    }

    &_label:hover {
        cursor: pointer;
    }
}
