@import url('../../../styles.pcss');

.profile-edit {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 64px auto;

    &__content {
        display: flex;
        justify-content: center;
        padding: 60px;
    }
}
