@import url('../../../styles.pcss');

.back-button {
    display: flex;
    background-color: $color-white-primary;
    border: unset;

    img {
        margin: auto;
    }
}

.back-button:hover {
    background-color: $color-grey-light;
    cursor: pointer;
}
