@import url('../../../../../styles.pcss');

.row-with-button {
    padding: 10px;
    border-bottom: 1px solid $color-grey-light;
}

.row-with-button:last-child {
    border: none;
}

.row-with-button:last-child button {
    color: #f00;
}
