<div class="header_avatar">
    {{#if avatar}}
        <img src={{avatar}} alt="avatar" />
    {{/if}}
</div>
<div class="header_name">
    <span>{{name}}</span>
</div>
<div class="header_menu">
    <img src={{menu}} alt="menu" />
</div>
