.passwd-edit-form {
    min-width: 510px;

    &_avatar {
        display: flex;
    }

    &_avatar img {
        margin: auto;
    }

    &_data {
        min-height: 227px;
        margin: 90px 0 50px;
    }

    &_button {
        margin: 0 23%;
    }
}
