@import url('../../../../../styles.pcss');

.passwd-edit-form {
    min-width: 510px;

    &_avatar {
        display: flex;
    }

    &_avatar img {
        margin: auto;
        max-height: 130px;
        max-width: 130px;
        border-radius: 75px;
    }

    &_data {
        min-height: 227px;
        margin: 90px 0 50px;
    }

    &_button {
        margin: 0 23%;
    }

    &_error {
        text-align: center;
        font-size: 10px;
        color: $color-red-primary;
    }
}
