@import url('../../../../../styles.pcss');

.profile-link {
    display: grid;
    grid-template-columns: auto min-content;
    color: $color-grey-primary;

    span {
        margin-right: 5px;
        font-size: 12px;
    }

    &_icon {
        display: grid;
    }

    &_icon img {
        margin: auto 0;
    }
}
