<div class="server-error__container">
    <div class="server-error__container_code">{{code}}</div>
    <div class="server-error__container_text">{{text}}</div>
    <div class="server-error__container_link">{{{link}}}</div>
</div>
